name: Build by Stack
on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        ghc-ver: [8.10.4, 8.10.3, 8.8.4, 8.6.5, 8.4.4, 8.2.2, 8.0.2]
    env:
      ARGS: "--stack-yaml stack-${{ matrix.ghc-ver }}.yaml --no-terminal --system-ghc"

    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        enable-stack: true

    - uses: actions/cache@v2
      name: Cache dependencies
      id: cache
      with:
        path: "~/.stack"
        # A unique cache is used for each stack.yaml.
        key: ${{ runner.os }}-stack-without-ghc-${{ matrix.ghc-ver }}-${{ hashFiles(format('stack-{0}.yaml', matrix.ghc-ver)) }}

    - name: Install dependencies
      if: ${{ !steps.cache.outputs.cache-hit }}
      run: |
        stack build ${ARGS} --only-dependencies

    - name: Build fix-whitespace
      run: |
        stack build ${ARGS}

    - name: Check the whitespace issue
      run: |
        stack exec ${ARGS} -- fix-whitespace --check

