name: Build by Stack
on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-16.04

    strategy:
      matrix:
        ghc-ver: [8.10.1, 8.8.3, 8.6.5, 8.4.4, 8.2.2, 8.0.2]
    env:
      ARGS: "--stack-yaml stack-${{ matrix.ghc-ver }}.yaml --no-terminal --system-ghc"

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-haskell@v1.1
      with:
        ghc-version: ${{ matrix.ghc-ver }}

    - name: Install dependencies
      run: |
        stack build ${ARGS} --only-dependencies

    - name: Build fix-whitespace
      run: |
        stack build ${ARGS}

